@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #5a189a;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #5a189a;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* note previews / list */
.note-list h1 {
  color: #333;
}
.note-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.note-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.note-preview h2 {
  font-size: 20px;
  color: #5a189a;
  margin-bottom: 8px;
}
.note-preview a {
  text-decoration: none;
}

/* note details page */
.note-details h2 {
  font-size: 20px;
  color: #5a189a;
  margin-bottom: 10px;
}
.note-details div {
  margin: 20px 0;
}
.note-details button {
  background: #5a189a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new note form */
.new-note {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.new-note label {
  text-align: left;
  display: block;
}
.new-note h2 {
  font-size: 20px;
  color: #5a189a;
  margin-bottom: 30px;
}
.new-note input,
.new-note textarea,
.new-note select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.new-note button {
  background: #5a189a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
